html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgba(168,255, 233,.85)

}

.mapicon {
  max-height: 30px;
  padding-left: 160px;
  padding-top: 5%;
}

#panel {
  position: absolute;
  background-color: rgba(168,255, 233,.85);
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 8;
  padding: 5px;
  border-left: solid 3px white;
  border-right: solid 3px white;
}

#column {
  position: absolute;
  height: 100%;
  right: 0;
  width: 350px;
  background-color: rgba(168, 255, 233,.85);
  border-left: solid 2px white;
  overflow-y: auto;
}

#mode {
  background-color: whitesmoke;
  border: 2px solid white;
}

#column, #littlearrow {
    -webkit-transition-duration: 600ms;
    transition-duration: 600ms;
}

#control_panel {
  width: 300px;
  position: absolute;
}

#textbox {
  position: absolute;
  width: 200px;
  text-transform: lowercase;
}

#directions_panel{
  width: 250px;
  display: block;
}
#littlearrow {
  position: fixed;
  right: 348px;
  top: 45%;
  max-height: 50px;
  z-index: 8;
}

.button {
  background-color: slategrey;
  width: 95px;
  padding-left: 20px;
  color: white;
  margin-left: 80px;
  border-radius: 3px;
}

.button:hover {
  background-color: #3c6b7f;
}

.button:active {
background-color: darkturquoise;
}

#returnbutton {
  visibility: hidden;
  width: 115px;
  margin-left: 95px;

}



/*
Provide the following styles for both ID and class,
where ID represents an actual existing "panel" with
JS bound to its name, and the class is just non-map
content that may already have a different ID with
JS bound to its name.
*/

#panel, .panel {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  color: darkslategray;
  text-transform: uppercase;
  line-height: 30px;
  padding-left: 10px;
}


#panel select, #panel input, .panel select, .panel input {
  font-size: 15px;
}

#panel select, .panel select {
  width: 100%;
}

#panel i, .panel i {
  font-size: 12px;
}

body {
  background-color: lightblue;
}

.box {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
}

.selectbox {
   width: 240px;
   height: 34px;
   overflow: hidden;
/*   background: url('../images/arrow.png') no-repeat right darkgray;*/

   border: 3px solid white;
   background: whitesmoke;
}

#waypoints {
  height: 100px;
  overflow-y: auto;
  border-radius: 5px;
}

#directions_panel {
  margin: 20px;
  background-color: white;
  margin-left: 35px;
  text-transform: none;

}
