html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgba(168,255, 233,.85)

}

.mapicon {
  max-height: 30px;
  padding-left: 160px;
  padding-top: 5%;
}

#panel {
  position: absolute;
  background-color: rgba(168,255, 233,.85);
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 8;
  padding: 5px;
  border-left: solid 3px white;
  border-right: solid 3px white;
}

#column {
  position: absolute;
  height: 100%;
  right: 0;
  width: 350px;
  background-color: rgba(168, 255, 233,.85);
  overflow-y: auto;
  z-index: 6;
}

#mode {
  background-color: whitesmoke;
  border: 2px solid white;
}

#column, #littlearrow, #downarrow {
    -webkit-transition-duration: 600ms;
    transition-duration: 600ms;
}

#control_panel {
  width: 300px;
  position: absolute;
}

#textbox {
  position: absolute;
  width: 200px;
  text-transform: lowercase;
}

#directions_panel{
  width: 250px;
  display: block;
}
#littlearrow {
  position: absolute;
  right: 348px;
  top: 45%;
  max-height: 50px;
  z-index: 8;
}

.button {
  background-color: slategrey;
  width: 95px;
  padding-left: 20px;
  color: white;
  margin-left: 80px;
  border-radius: 3px;
}

.button:hover {
  background-color: #3c6b7f;
}

.button:active {
background-color: darkturquoise;
}

#returnbutton {
  visibility: hidden;
  width: 115px;
  margin-left: 95px;

}

#weather {
  color: dimgray;
  text-transform: none;
  line-height: 20px;
  width: 250px;
  background-color: rgba(255,255,255, .4);
  padding: 5px;
  margin-top: -30px;
}


#modal {
  position: absolute;
  z-index: 20;
  background-color: rgba(255,255,255, .4);
  width: 100%;
  height: 100%;
}

.closed {
  display: none;
}

.closebutton {
  margin: 0 40%;
  border: 3px solid white;
  padding: 5px 20px;
  cursor: pointer;
}

.closebutton:hover {
  background-color: white;
}

.modalbox {
  margin: 20px auto;
  color: dimgray;
  width: 40%;
  min-width: 300px;
  background-color: rgba(255,255,255, .6);
  padding: 20px;
  font-family: Lato, sans-serif;
  border: 2px solid white;
}

/*
Provide the following styles for both ID and class,
where ID represents an actual existing "panel" with
JS bound to its name, and the class is just non-map
content that may already have a different ID with
JS bound to its name.
*/

#panel, .panel {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  color: darkslategray;
  text-transform: uppercase;
  line-height: 30px;
  padding-left: 10px;
}


#panel select, #panel input, .panel select, .panel input {
  font-size: 15px;
}

#panel select, .panel select {
  width: 100%;
}

#panel i, .panel i {
  font-size: 12px;
}

body {
  background-color: lightblue;
}

.box {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
}

.selectbox {
   width: 240px;
   height: 34px;
   overflow: hidden;
/*   background: url('../images/arrow.png') no-repeat right darkgray;*/

   border: 3px solid white;
   background: whitesmoke;
}

#waypoints {
  height: 100px;
  overflow-y: auto;
  border-radius: 5px;
}

#directions_panel {
  margin: 20px;
  background-color: white;
  margin-left: 35px;
  text-transform: none;

}

.help {
  font-size: 24px;
  color: darkslategray;
  cursor: pointer;
}
/*
#downarrow {
  visibility: visible;
  position: absolute;
  top: 650px;
}*/

@media (max-width: 480px){
  #column {
    top: 0;
    width: 100% !important;
    height: 92%;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
  }
  #littlearrow{
    visibility: hidden;
  }
  #control_panel {
    margin-left: -10px;
    margin-top: 0px;
  }


/*#downarrow {
    visibility: visible !important;
    position: absolute;
    left: 45%;
    max-height: 50px;
    top: 500px;
  }*/
}

@media (min-width: 480px){
  .mapicon{
    visibility: hidden;
  }
  #column{
    height: 100% !important;
    width: 350px !important;
  }
/*  #downarrow{
    visibility: visible;
  }*/

}
