<div class="user-tour">
  <%= link_to(tour.name, tour_url(tour)) %>
  <% if tour.user_id === current_user.id %>
    <%= link_to("edit", edit_tour_path(tour))%>
    <%= link_to("delete", tour, method: :delete, data: { confirm: 'Are you sure?' }) %>

  <% end %>
</div>
